[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wxpython = "*"
pywin32 = "*"
requests = "*"
tqdm = "*"
multitasking = "*"
retry = "*"

[dev-packages]

[requires]
python_version = "3.9"
